# .gitignore

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/
.vs/

# Operating system files
.DS_Store
Thumbs.db

# Secrets
keys/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Dataform 
node_modules/
